.todo__card{
   flex-basis: 100%;
   margin-top: 30px;
   border-radius: 10px !important;
    background: #ffffff !important;
    box-shadow:  10px 10px 5px #d9d9d9, -10px -10px 5px #ffffff !important;
}
.todo_header{
    padding: 10px;
}
.todo_content{
    padding: 10px;
}
.default{
    border-radius: 10px !important;
    background: #ffffff !important;
    box-shadow:  10px 10px 5px #d9d9d9, -10px -10px 5px #ffffff !important;
}
.black{
    color: whitesmoke !important;
    border-radius: 10px !important;
    background: #212121 !important;
    box-shadow:  10px 10px 5px #d9d9d9, -10px -10px 5px #ffffff !important;
}
.lightgreen{
    color: whitesmoke !important;
    border-radius: 10px !important;
    background: #03B2A2 !important;
    box-shadow:  10px 10px 5px #d9d9d9, -10px -10px 5px #ffffff !important;
}
.violet{
    color: #121212 !important;
    border-radius: 10px !important;
    background: #8053ae !important;
    box-shadow:  10px 10px 5px #d9d9d9, -10px -10px 5px #ffffff !important;
}
.pink{
    color: whitesmoke !important;
    border-radius: 10px !important;
    background: #ed5b8c !important;
    box-shadow:  10px 10px 5px #d9d9d9, -10px -10px 5px #ffffff !important;
}
.MuiSvgIcon-root{
    color: grey;
}
.time{
    padding: 10px;
}

@media only screen and (max-width: 600px){

    .todo__card{
         margin: 20px 40px;
     }

}